m4/
.deps/
Makefile
Makefile.in
INSTALL
autom4te.cache
*.m4
*.o
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

main.c
geom.c
ctl-io.h
ctl-io.c
test1.scm
test1

*.dSYM/

